.DS_Store
bin/randomrectanglesDebug.app/Contents/MacOS/randomrectanglesDebug
randomrectangles.xcodeproj/project.xcworkspace/xcuserdata/gdutcher.xcuserdatad/UserInterfaceState.xcuserstate
randomrectangles.xcodeproj/xcuserdata/gdutcher.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
